# Cowrie profile used when an active-path configuration upgrades a canary SSH
# service into an operator jumpbox surface.

[honeypot]
hostname = jumpbox-02
log_path = /home/cowrie/cowrie/log
contents_path = /home/cowrie/cowrie/honeyfs

[ssh]
enabled = true

[telnet]
enabled = false

[output_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json
